colorama==0.4.6
colorlog==6.7.0
colormap==1.0.4
contourpy==1.1.0
convcolors==2.2.0
cycler==0.11.0
easydev==0.12.1
extcolors==1.0.0
fonttools==4.41.0
importlib-resources==6.0.0
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.25.1
opencv-python==4.8.0.74
packaging==23.1
pandas==2.0.3
pexpect==4.8.0
Pillow==10.0.0
ptyprocess==0.7.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tzdata==2023.3
zipp==3.16.2
